@model Game

@{
    ViewData["Title"] = "PiCloud delete game";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h1>Delete</h1>

<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Want to delete @Model.Name?</h3>
        </div>

        <div class="col-md-9">
            <form asp-action="DeleteGame" asp-controller="Dashboard">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <input asp-for="Id" class="form-control" value="@Model.Id" type="hidden"/>

                <div class="form-group">
                    <input type="submit" value="Yes" class="btn btn-success"/>
                    <input type="submit" value="No" class="btn btn-danger"/>
                </div>
            </form>
        </div>
    </div>
</div>
