
@{
    ViewData["Title"] = "PiCloud Dashboard";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h1>Welcome to PiCloud administration dashboard</h1>
<h3>Here you can manage the games and registered users</h3>
